body {
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

header {
  height: 15rem;
  padding-top: 3rem;
}

.hue-ville {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  width: 10rem;
}

.light-dark {
  display: flex;
  justify-content: space-around;
}

/*-------------rainbow stylings-------------------*/

ul {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 15rem;
  overflow: hidden;
  border-bottom: 2px solid rgba(0,0,0,.2);
}

ul li {
  border-radius: 50%;
  border: 5px solid #000;
  border-bottom-color: transparent !important;
  border-left-color: transparent;
  position: absolute;
  left: 50%;
  list-style: none;
  box-shadow: 0 0 10 rgba(0,0,0,.5);
  top: 100%;
  animation: animate 5s infinite alternate;
  transform: translate(-50%, -50%);
}

ul li:nth-child(7) {
  height: 10rem;
  width: 10rem;
  background-color: #ff0000;
  animation-delay: .2s;
}

ul li:nth-child(6) {
  height: 20rem;
  width: 20rem;
  background-color: #ff7f00;
  animation-delay: .4s;
}

ul li:nth-child(5) {
  height: 30rem;
  width: 30rem;
  background-color: #ffff00;
  animation-delay: .6s;
}

ul li:nth-child(4) {
  height: 40rem;
  width: 40rem;
  background-color: #00ff00;
  animation-delay: .8s;
}

ul li:nth-child(3) {
  height: 50rem;
  width: 50rem;
  background-color: #0000ff;
  animation-delay: 1s;
}

ul li:nth-child(2) {
  height: 60rem;
  width: 60rem;
  background-color: #4B0082;
  animation-delay: 1.2s;
}

ul li:nth-child(1) {
  height: 70rem;
  width: 70rem;
  background-color: #9400d3;
  animation-delay: 1.4s;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(460deg);
  }
}

/*--------------lock/unlock toggle button stylings------------*/

div img {
  height: 1rem
}

.lock-box input {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-image: url('unlock.png');
  background-size: cover;
  padding-bottom: 1rem;
}


.lock-box {
  height: 2rem;
  width: 45vw;
  padding-left: 10.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.hex-box {
  display: flex;
  height: 2rem;
  width: 45vw;
  flex-direction: space-between;
  padding: 0 0 0 6.5rem;
  margin-bottom: 1rem;
  /*justify-content: */
}

h4 {
  padding-left: 2rem;
}

.spinner {
  background-color: lightyellow;
  border: .01rem solid red;
  height: 2rem;
  width: 7rem;
  color: purple;
  font-size: larger;
  line-height: .5rem;
}

.village {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}


form {
  display: flex;
}

input {
  padding-left: 1rem;
}

select {
  width: 10rem;
}

h2 {
  padding-top: 5rem;
  text-align: center;
}

